In [46]:
import pandas as pd

In [47]:
data = pd.read_excel('CapstoneProject_Dataset_2021.xlsx', sheet_name='Sale')

In [48]:
data.sample(5)

,CustomerID,OrderID,Channel,PaymentType,Brand,Shop,Promotion,SalePrice,SaleDate,Reference
1475,CTM95843,OTS9147,Offline,Thẻ,Asus,Nguyễn Kim,Không,13297000.0,2020-03-09,"Nhân viên cửa hàng bán Laptop, Mạng xã hội, Ph..."
307,CTM27799,OTS752,Offline,Tiền mặt,Dell,Điện máy xanh,Có,13720000.0,2020-05-29,"Thông qua người thân, bạn bè, Nhân viên cửa hà..."
284,CTM26103,OTS61621,Offline,Thẻ,HP,Viễn thông A,Có,12298000.0,2020-10-11,"Thông qua người thân, bạn bè, Nhờ người có chu..."
607,CTM45685,OTS1024,Offline,Thẻ,Dell,FPT Shop,Có,13250000.0,2020-08-28,"Thông qua người thân, bạn bè, Nhân viên cửa hà..."
547,CTM4175,OTS352,Online,Thẻ,Acer,Viettel Store,Có,13340000.0,2020-08-19,"Thông qua người thân, bạn bè, Nhân viên cửa hà..."

In [49]:
data.isnull().sum().sum()

22

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1550 entries, 0 to 1549
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   1550 non-null   object
 1   OrderID      1550 non-null   object
 2   Channel      1547 non-null   object
 3   PaymentType  1548 non-null   object
 4   Brand        1548 non-null   object
 5   Shop         1545 non-null   object
 6   Promotion    1550 non-null   object
 7   SalePrice    1544 non-null   float64
 8   SaleDate     1550 non-null   datetime64[ns]
 9   Reference    1546 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 121.2+ KB

0

In [57]:
data['Channel'].fillna(data['Channel'].mode()[0], inplace = True)
data['PaymentType'].fillna(data['PaymentType'].mode()[0], inplace = True)
data['Brand'].fillna(data['Brand'].mode()[0], inplace = True)
data['Shop'].fillna(data['Shop'].mode()[0], inplace = True)
data['Reference'].fillna(data['Reference'].mode()[0],inplace = True)

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1550 entries, 0 to 1549
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   1550 non-null   object
 1   OrderID      1550 non-null   object
 2   Channel      1550 non-null   object
 3   PaymentType  1550 non-null   object
 4   Brand        1550 non-null   object
 5   Shop         1550 non-null   object
 6   Promotion    1550 non-null   object
 7   SalePrice    1544 non-null   float64
 8   SaleDate     1550 non-null   datetime64[ns]
 9   Reference    1550 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 121.2+ KB

In [66]:
data['SalePrice'] = data['SalePrice'].fillna(data.groupby('Brand')['SalePrice'].transform('mean'))

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1550 entries, 0 to 1549
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   1550 non-null   object
 1   OrderID      1550 non-null   object
 2   Channel      1550 non-null   object
 3   PaymentType  1550 non-null   object
 4   Brand        1550 non-null   object
 5   Shop         1550 non-null   object
 6   Promotion    1550 non-null   object
 7   SalePrice    1550 non-null   float64
 8   SaleDate     1550 non-null   datetime64[ns]
 9   Reference    1550 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 121.2+ KB